
.icon-warning {
    background-image: url(../images/warning.png);
    background-size: contain;
}

.icon-wrong {
    background-image: url(../images/wrong.png);
    background-size: contain;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    background-color: #303030;
}

.content {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 16px;
    min-width: 240px;
}

h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

em {
    color: white;
    font-style: normal;
}

.learn-more-button {
    color: rgb(123, 170, 247);
    text-decoration: none;
}

html {
    direction: ltr;
}

body {
    font-family: system-ui, PingFang SC, STHeiti, sans-serif;
}

/*button {*/
/*font-family: system-ui, PingFang SC, STHeiti, sans-serif;*/
/*}*/

@media (max-width: 240px),
(max-height: 320px) {
    .content {
        font-size: 14px;
        line-height: 16px;
    }

    h1 {
        font-size: 14px;
        line-height: 16px;
    }
}

.icon {
    height: 120px;
    width: 120px;
}

@media (max-height: 480px),
(max-width: 720px) {
    .icon {
        height: 72px;
        width: 72px;
    }
}

@media (max-width: 720px) {
    @media (max-width: 240px),
    (max-height: 480px) {
        .icon {
            height: 48px;
            width: 48px;
        }
    }
}

.content > .learn-more-button {
    display: none;
}

@media (max-width: 720px) {
    #subtitle > .learn-more-button {
        display: none;
    }

    .content > .learn-more-button {
        display: block;
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.icon {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.detail {
    float: left;
}

html[dir=rtl] .detail {
    float: right;
}

.detail + .detail {
    clear: right;
}

html[dir=rtl] .detail + .detail {
    clear: left;
}

.clearer {
    clear: both;
}

@media (max-width: 720px) {
    .content {
        -webkit-margin-start: 0;
        max-width: 600px !important;
        text-align: start;
    }

    .icon {
        -webkit-margin-start: 0;
    }

    h1 {
        text-align: start;
    }

    .detail + .detail,
    html[dir=rtl] .detail + .detail {
        clear: both;
    }
}

.detail ul {
    -webkit-padding-start: 16px;
    -moz-padding-start: 16px;
    margin: 4px 0 0;
}

ul > li {
    padding-top: 8px;
}

.detail {
    margin: 0;
}

.detail + .detail {
    -webkit-margin-start: 40px;
}

.detail + .detail.too-wide {
    -webkit-margin-start: 0;
    margin-top: 1.5rem;
}

@media (min-width: 720px) {
    .icon, h1, #subtitle, .learn-more-button {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .content {
        margin-top: 40px;
        min-width: 240px;
        padding: 8px 48px 24px;
    }

    @media (max-height: 480px) {
        html,
        body,
        .content {
            height: 100%;
        }

        .content {
            margin-bottom: 0;
            margin-top: 0;
            padding-bottom: 0;
            padding-top: 0;
        }

        .icon {
            margin-top: 0;
            padding-top: 32px;
        }
    }

    @media (max-height: 320px) {
        h1, #subtitle, .learn-more-button {
            margin-bottom: 16px;
            margin-top: 16px;
        }

        .icon {
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 720px) {
    .content {
        padding: 72px 32px;
        min-width: 176px;
    }

    .icon, h1, #subtitle, .learn-more-button {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .detail + .detail {
        -webkit-margin-start: 0;
        margin-top: 1.5rem;
    }

    @media (max-height: 600px) {
        .content {
            padding-top: 48px;
        }

        .icon, h1, #subtitle, .learn-more-button {
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        .detail + .detail {
            margin-top: 1rem;
        }
    }

    @media (max-height: 480px) {
        .content {
            padding-top: 32px;
        }
    }

    .icon {
        margin-top: 0;
    }

    .learn-more-button {
        margin-bottom: 0;
    }
}

@media (max-width: 240px) {
    .content {
        min-width: 192px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
